*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 5rem ;
    background-color: white;
}

header img{
    width: 100%;
}

#mobile-logo{
    max-width: 70px;
}

.fa-bell{
    color: orange;
}

.form-control{
  background-color: #e9ecef!important;
}

.wrapper{
    width: 100%;
    height: calc(100vh - 5rem);
    margin-top: 80px;
   
}

.aside{
    background-color: #051e34;
    height: 100%;
    width: 50px;
}

.main{
    height: 100%;
    width: calc(100% - 50px);
    overflow-y: auto;
}

.top-bar{
    background-color: blue;
}

@media screen and (min-width:992px) {
    .aside{
        width: 150px;
    }

    .main{
        width: calc(100% - 150px);
    }
    
}