*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{                         /*header*/
    height: 5rem ;
    background-color: white;
}

header img{
    width: 80%;
}

#mobile-logo{
    max-width: 70px;
}

.fa-bell{
    color: orange;
}

header .form-control{
  background-color: #e9ecef!important;
}

.wrapper{                            /*main*/
    width: 100%;
    height: calc(100vh - 5rem);
    margin-top: 80px;
   
}

.aside .row{
    height: 100%;
}



.aside{
    background-color: #051e34;
    height: 100%;
    width: 50px;
}

.main{
    height: 100%;
    width: calc(100% - 50px);
    overflow-y: auto;
}

.top-bar{
    background-color: #1b72e8;
}

.offcanvas{
    --bs-offcanvas-width: 100% !important;
}

.offcanvas label,.offcanvas h2{
    color: black;
}


/*attribute*/

.button-runded{
    background-color: #165bba;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    font-size: small;

}

.hover:hover{
    background-color: grey;
    cursor: pointer;

}

.button-runded:hover{
    color: white !important;
    
}

.pointer:hover{
    cursor: pointer;
    filter: invert(1);
}

ul{
    list-style-type: none;
    padding-left: 0px !important;
}

.main-section{
    background-color: #f8f9fa;
}

.table img{
    width: 30px;
}

.border-ic{
    border: 2px solid gray !important;

}

@media screen and (min-width:992px) {
    .aside{
        width: 150px;
    }

    .main{
        width: calc(100% - 150px);
    }

    .offcanvas{
        --bs-offcanvas-width: 50% !important;
    }
}